ul {
    list-style: none;
}

li > ul {
    display: none;
}

li.expanded > ul {
    display: block;
}

a.arrow::before {
    content: "🔽";
}

.expanded > a.arrow::before {
    content: "🔼";
  }

a.diamond::before {
    content: "🔶";
}
